.extendedNav__wrapper {
  padding: 1rem;
  min-height: 100%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-image: linear-gradient(45deg,
      rgba(187, 187, 187, 0.04) 0%,
      rgba(187, 187, 187, 0.04) 50%,
      rgba(86, 86, 86, 0.04) 50%,
      rgba(86, 86, 86, 0.04) 100%),
    linear-gradient(135deg,
      rgba(166, 166, 166, 0.04) 0%,
      rgba(166, 166, 166, 0.04) 50%,
      rgba(92, 92, 92, 0.04) 50%,
      rgba(92, 92, 92, 0.04) 100%),
    linear-gradient(90deg, rgb(92, 22, 197), rgb(92, 22, 197));
  background-size: 200px 200px;
  -webkit-box-shadow: -4px 2px 22px 10px rgba(0, 0, 0, 0.56);
  box-shadow: -4px 2px 22px 10px rgba(0, 0, 0, 0.56);

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

}

.extendedNav__header {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;

    .inventory {
      margin-right: 1rem;
    }

    .floorPriceInventory {
      margin-left: 1rem;
    }

    .logo {
      flex: 1;

    }
  }
}

.extendedNav__body {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  ul {
    display: flex;
    justify-content: space-around;
    gap: .5rem;

    li {
      cursor: pointer;
      flex: 1;
      display: flex;
      align-items: center;
      border: 2px solid;
      border-radius: 5px;
      font-weight: 700;
      font-size: 1.1rem;
      justify-content: center;
      padding: .1rem 0rem;
    }
  }
}

.separator {
  border-radius: 100px;
  height: 5px;
  width: 70%;
  margin: 0 auto;
  background-color: rgb(223, 223, 223);
  margin: 3rem auto;
}

.auto-grid {
  --min-column-size: 10rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit,
      minmax(min(var(--min-column-size), 100%), 1fr));


  div {
    aspect-ratio: 1/1.2;
    border-radius: 3%;
    max-width: 250px;

    img {
      border: 5px solid yellow;
      border-radius: .5rem;
      background-color: rgb(151, 105, 211);
      aspect-ratio: 1/1;
      width: 100%;
      object-fit: contain;
    }

    :nth-child(3) {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}