nav {
  height: 100%;
}

.nav__wrapper:hover {}

.nav--open {
  transform: translateX(0%);
  transition: .4s ease;
  filter: brightness(1) opacity(1);
  animation: none;
}

.nav--close {
  transform: translateX(86%);
  transition: .5s ease;
}

.nav__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: linear-gradient(45deg,
      rgba(187, 187, 187, 0.04) 0%,
      rgba(187, 187, 187, 0.04) 50%,
      rgba(0, 0, 0, 0.04) 50%,
      rgba(0, 0, 0, 0.04) 100%),
    linear-gradient(135deg,
      rgba(166, 166, 166, 0.04) 0%,
      rgba(166, 166, 166, 0.04) 50%,
      rgba(92, 92, 92, 0.04) 50%,
      rgba(92, 92, 92, 0.04) 100%),
    linear-gradient(90deg, #2D3748, #2D3748);
  background-size: 142px 142px;
  gap: 2rem;
  font-weight: bolder;
  padding-inline: 1rem;
  -webkit-box-shadow: -4px 2px 22px 10px rgba(0, 0, 0, 0.56);
  box-shadow: -4px 2px 22px 10px rgba(0, 0, 0, 0.56);
}

.nav__header {
  flex: 1;
  gap: 1rem;
  padding-top: 5vw;
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;

    span {
      position: absolute;
      background-color: red;
      width: 20px;
      aspect-ratio: 1/1;
      color: white;
      border-radius: 50%;
      font-weight: bolder;
      top: -5%;
      right: -10%;
    }
  }
}

.fullScreen--btn {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    padding: .2em .5em;
    font-size: clamp(.8rem, 2vw, 1rem);
    border-radius: 100px;
    border: 2px solid white;
    color: white;
    font-weight: bolder;
  }

  &:hover {
    scale: 1.05;
    transition: scale .2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.inventory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  gap: .5rem;
}

.floorPriceInventory {
  color: rgb(255, 208, 0);
  font-size: 1.2rem;
}

.nav__body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.nav__body::before {
  content: "";
  border-radius: 100px;
  height: 5px;
  width: 80%;
  margin: 0 auto;
  background-color: rgb(211, 211, 211);
  margin-bottom: 1rem;
}

.rarity__wrapper {
  ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    li {
      display: flex;
      justify-content: space-between;
    }
  }
}

.notification {
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.notification :hover {
  animation: none;
}

.open-button {
  background: linear-gradient(90deg, #384150, #384150);
  width: 30px;
  height: 30px;
  position: absolute;
  left: -15px;
  top: 50px;
  border: 3px solid white;
  border-radius: 50%;
  z-index: 10000;
  cursor: pointer;
}

.open-button::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  clip-path: polygon(30% 50%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  transform: translate(-70%, -50%);
}

.arrow--default {
  transform: rotateZ(180deg);
  transition: .3s ease;
}

.arrow--rotation {
  transform: rotateZ(0deg);
  transition: .3s ease;
}



// @-webkit-keyframes slide-left {
//   0% {
//     -webkit-transform: translateX(0);
//     transform: translateX(0);
//   }

//   100% {
//     -webkit-transform: translateX(-100px);
//     transform: translateX(-100px);
//   }
// }

@keyframes slide-left {
  0% {

    transform: translateX(0%);
  }

  25% {
    transform: translateX(-5%);
  }

  50% {
    transform: translateX(0%);
  }

  75% {
    transform: translateX(-10%);
  }

  80% {
    transform: translateX(0%);
  }

  90% {
    transform: translateX(-5%);
  }

  100% {

    transform: translateX(0%);
  }
}