.reel {
    --gap: 1rem;
    display: grid;
    gap: var(--gap);
    grid-auto-flow: column;
    grid-auto-columns: calc(25% - (var(--gap) / 2));
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
    -ms-scroll-snap-type: x;
    scroll-padding: var(--gap);
    a {
      img {
        
        max-width: 200px;
        border: 3px solid;
        border-radius: .5rem;
        background-color: #040816;
        aspect-ratio: 1/1;
        width: 100%;
        object-fit: contain;
        transition: .2s ease;

      }


    }
  }
  
  .reel > * {
    scroll-snap-align: start;
  }