#root {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  color: white;
  overflow-y: scroll;
}

*::-webkit-scrollbar {
  width: 5px !important;
  background-color: rgb(92, 22, 197);
}

*::-webkit-scrollbar-track,
*::-scr {
  background-color: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(138, 73, 236) !important;
  border-radius: 500px !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.increase {
  animation: scale-up-center 0.5s ease-out 0.5s 5 alternate both, increase 2.5s;
}

.decrease {
  animation: scale-up-center 0.5s ease-out 0.5s 5 alternate both, decrease 2.5s;
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes increase {
  0% {
    color: green;
  }
  100% {
    color: rgb(255, 208, 0);
  }
}

@keyframes decrease {
  10% {
    color: rgb(255, 208, 0);
  }
  20% {
    color: red;
  }
  90% {
    color: rgb(255, 208, 0);
  }
}
