#root {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  color: white;
  overflow-y: scroll;
}
* {
  scrollbar-width: 20px;
}
*::-webkit-scrollbar {
  width: 5px !important;
  background-color: rgb(92, 22, 197);
}

*::-webkit-scrollbar-track,
*::-scr {
  background-color: transparent !important;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(138, 73, 236) !important;
  border-radius: 500px !important;
}

scroll a {
  text-decoration: none;
  color: inherit;
}

.increase {
  animation: increase 2.5s;
}

.decrease {
  animation: decrease 2.5s;
}

@keyframes increase {
  0% {
    color: green;
  }
  90% {
    color: green;
  }
  100% {
    color: rgb(255, 208, 0);
  }
}

@keyframes decrease {
  0% {
    color: red;
  }
  90% {
    color: red;
  }
  100% {
    color: rgb(255, 208, 0);
  }
}
